<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016414231379-jhrpaiufps9d1cqjbesf3u314h2scqld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016414231379-jhrpaiufps9d1cqjbesf3u314h2scqld</string>
	<key>API_KEY</key>
	<string>AIzaSyCrPlFgttvnsjVWw_Fm0ka2QaBRId48ae8</string>
	<key>GCM_SENDER_ID</key>
	<string>1016414231379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterContactlistApplication</string>
	<key>PROJECT_ID</key>
	<string>flutter-contact-list-73b8b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-contact-list-73b8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016414231379:ios:03736993c42c74464a1fa6</string>
</dict>
</plist>